<div class="item">
  <div class="name flex">
    <div class="item_img">
      <div class="img"></div>
    </div>
    <div class="item_name">
      <p>Cancion generico 1, muy generica</p>
    </div>
  </div>

  <div class="state item_state">
    <div class="circle"><div></div></div>
  </div>
  <div class="modif item_modif">
    <p>17/08/2023</p>
  </div>
  <div class="duration item_duration">
    <p>1:00:00</p>
  </div>
  <div class="version item_duration">
    <p>1</p>
  </div>
  <div class="ubication item_ubication">
    <p>"...rica_1_muy_generica"</p>
  </div>
</div>
