<div class="container">
  <div class="left_section">
    <div class="top-bar">
      <div class="logo"><div></div></div>
      <div class="title_cnt">
        <div class="title">
          <h1>Titulo generico muy largo largo largo</h1>
        </div>
        <div class="state"><app-trigger-button></app-trigger-button></div>
        <button>Abrir proyectos</button>
        <button>Ubicacion</button>
      </div>
    </div>
    <div class="bottom-bar">
      <app-file-versions></app-file-versions>
    </div>
  </div>
  <div class="right_description">
    <h3>Descripcion</h3>
    <textarea></textarea>
  </div>
</div>
