<div class="principal">
  <div class="top-bar">
    <div class="name">
      <p>Nombre</p>
    </div>
    <div class="state">
      <p>Estado</p>
    </div>
    <div class="modif">
      <p>Ult.Modificacion</p>
    </div>
    <div class="duration"><p>Duracion</p></div>
    <div class="version"><p>Versiones</p></div>
    <div class="ubication"><p>Ubicacion</p></div>
  </div>
  <div class="items_list">
    <app-item-list
      *ngFor="let item of items; let i = index"
      [attr.tabindex]="i + 1"
    ></app-item-list>
  </div>
</div>

<div class="blocker" *ngIf="popupComponent">
  <div class="popup">
    <app-song-popup></app-song-popup>
  </div>
</div>
