<div class="files_cnt">
  <button class="addVersions">+</button>
  <div class="bottom_container">
    <div class="files_top">
      <div class="name">
        <p>Nombre archivo</p>
      </div>
      <div class="version">
        <p>Versión</p>
      </div>
    </div>
    <div #file_container id="file_container" class="file_bottom">
      <app-version-file [id]="1" (click)="selected(1)"></app-version-file>
      <app-version-file [id]="2" (click)="selected(2)"></app-version-file>
      <app-version-file [id]="3" (click)="selected(3)"></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
      <app-version-file></app-version-file>
    </div>
  </div>
</div>
