<form class="container" #form>
  <div class="leftsection">
    <div class="image_album">
      <button></button>
    </div>
    <label for="name_album"
      ><input
        placeholder="Nombre del album..."
        type="text"
        id="name_album"
        class="name"
    /></label>
  </div>
  <div class="rightsection">
    <label for="Anio">Año <input class="form_input" type="number" /></label>
    <label for="Generos"
      >Generos <input class="form_input" type="text"
    /></label>
    <label for="rute">Ruta <input type="text" /></label>
    <button type="submit">Guardar</button>
  </div>
</form>
