.main {
  height: 100vh;
  overflow-y: none;
  width: 100%;
  display: flex;
  .left_section {
    height: 100%;
    border-right: 1px solid var(--secondary-white);
  }
  .right_section {
    height: 100%;
  }
  :nth-child(1) {
    flex-basis: 412px;

    height: 100%;
  }
  :nth-child(2) {
    flex-grow: 1;
    height: 100%;
  }
}
