:root {
  --primary-black: #0c0c0d;
  --secondary-grey: #2e2e2d;
  --secondary-white: #cbcbcb;
  --green: #0afa05;
  --red: #9f0909;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-grey);
}

button {
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  user-select: none;
}
